* {
	margin:0;
	padding:0;
}
#container {
	background:gray;
	width:100%;
	margin:0 auto;
}
 .clearfix {
	 clear:both;
 }
header {
	background:black;
	height:100px;
	width;100%;
	color:white;
}
#left_header {
	 padding:30px 20px; 
	 font-family:arial;
	 float:left;
}
nav {
	float:right;
	
}
nav ul{}
nav ul li {
	float:left;
	background:black;
	font-size:20px; 
	padding:38px 30px;
	font-weight:bold;
	margin:0px 5px;
}
nav ul li:hover{
	background:orange;
}
main{}
.main_img {
	width:100%;
	height:100%;
}
section{
	padding:0 10%;
} 
section h2 {
	text-align:center;
	font-size: 60px;
	text-shadow: 1px 1px 5px black;
	padding:50px;
	color:silver;
}
article {
	width:20%;
	margin:20px 5% 20px 0;
	float:left;
}
.margin_left{
	margin-left:2%;
}
.margin_left{
	margin-right:2%;
}
article img {
	width:100%;
	height:100%;
}
.article_title{
	text-align:center;
	font-size:40px;
	margin:20px;
}
.article_description{
	
}